body
{
    overflow-y: scroll !important;
}

a
{
  cursor: pointer;
}

.gradient-down
{
  background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
}

.gradient-up
{
  background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* IE10+ */
  background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */
}

#background
{
  display: block;
  position: fixed;
  margin: 0px auto;
  padding: 0;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  
  z-index: 0;
 
  vertical-align: bottom;
  horizontal-align: center;
  
  background-attachment:fixed;
  background-position: center bottom;
  background-repeat: no-repeat;
}


#bottom-fade
{
  position: fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;
  
  height: 100px;
  z-index: 999;
}

.copyright
{
  position: fixed;
  z-index: 2000;
  
  bottom: 4px;
  right: 4px;
  
  color: #fff;
  text-shadow: 0px 0px 6px #000;
  
  font-family: Helvetica, sans-serif;
  font-size: 10px;
  text-align: right;
  
  width: 400px;
  opacity: 0.4;
}

.copyright.pull-left
{
  right: 0px;
  left: 4px;
  text-align: left;
}

.navbar-inverse
{
  background-color: rgba(50,50,50, 0.8);
}

#header .navbar-brand
{
  font-family: "Helvetica", sans-serif;
  font-size: 24px;
  letter-spacing: 2px;
  margin-right: 40px;
}



#main
{
  padding-top: 70px;

  position: relative;
  z-index: 100;
}

#page-status-bar
{
  position: fixed;
  z-index: 2000;
  top: 0px;
  left: 0px;
  right: 0px;
  
  
  height: 4px;
  border-radius: 0;
  background: none;
}

#page-status-bar .progress-bar {
  -webkit-transition: width 0.4s ease;
          transition: width 0.4s ease;
}

#alert-panel
{
  position: fixed;
  top : -60px;
  
  z-index: 900;
  
  left: 20%;
  right: 20%;
}

#page-frame
{
  position: relative;
  
  color: #000;
  
  font-family: "Helvetica", sans-serif;
  z-index: 100;
}

#page-frame a
{
  color: #529bda;
}

#page-frame a:hover
{
  color: #62abea;
}

#page-frame li.active>a,
#page-frame li.active>a:hover
{
  color: #fff;
}


#page-frame h4 a,
#page-frame h4 a:hover
{
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  display: block;
  color: #fff;
}

#page-frame>p
{
  color: #fff;
  text-shadow: 0px 0px 6px #000;
}

#page-frame .header
{
  font-family: Helvetica, sans-serif;
  font-size: 18px;
  letter-spacing: 2px;
  font-style: italic;
  text-shadow: 0px 0px 5px #000;
  padding-left: 10px;
  border-bottom: 1px solid #fff;
  margin-bottom: 6px;
}

#page-frame .content-block
{
  position: relative;
  color: #eee;
  background: rgba(0,0,0, .6);
  z-index: 100;
  
	border-radius: 20px;
	padding: 10px;
  
  
  margin-bottom: 12px;
  color: #fff;
  word-wrap: break-word;
}

@media (min-width: 1200px)
{
  #main
  {
    max-width: 1000px;
  }
}

#page-frame .subheader
{
  font-style: italic;
  font-size: 12px;
  letter-spacing: 1px;
  
  margin-top: 2px;
  white-space: nowrap;
  overflow: hidden;
}


#page-frame .media
{
  margin-bottom: 0px;
	margin-top: 12px;

  transition: opacity 0.5s, right 0.5s, bottom 0.5s;
}


.modal-backdrop
{
  z-index: 2000;
}

.modal
{
  z-index: 2100;
  overflow-y: auto;
}