.gradient-down
{
  background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
}

.gradient-up
{
  background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* IE10+ */
  background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */
}

body
{
  overflow: visible;
  background: #999;
}

#background
{
  display: block;
  position: fixed;
  margin: 0px auto;
  padding: 0;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  
  z-index: 0;
 
  vertical-align: bottom;
  horizontal-align: center;
  
  background-attachment:fixed;
  background-position: center bottom;
  background-repeat: no-repeat;
}


#bottom-fade
{
  position: fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;
  
  height: 100px;
  z-index: 999;
}

/*#top-fade
{
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  
  height: 100px;
  
  z-index: 999;
}*/


.fade-in
{
  opacity: 0;
}

#main
{
  position: relative;
  
  margin: 20px auto 100px auto;
  padding: 10px 20px;
  background: rgba(0,0,0, .6);
  
  min-height: 800px;
  width: 800px;
  
  border-radius: 20px;
  
  z-index: 100;
  
  color: #fff;
  word-wrap: break-word;
  
}

#loading
{
  position: fixed;
  display: block;
  z-index: 50;
  
  margin: 0;
  padding: 0;
  border: none;
  box-shadow: none;
  margin-left: -75px;
  width: 150px;
  height: 30px;
  
  left: 50%;
  
  top: 200px;
  
  
  visibility: visible;
}

#header
{
  background: rgba(43, 72, 109, .7);
  border-bottom: 4px solid rgba(0, 0, 0, .6);
  
  min-width: 800px;
  
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  height: 100px;
  
  z-index: 1000;
}

#header-bg
{
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  height: 104px;

  overflow: hidden;
  
  background-attachment:fixed;
  background-position: center bottom;
  background-repeat: no-repeat;
  
  z-index: 998;
}

#header-spacer
{
  height: 104px;
}

#header #logo
{
  position: absolute;
  top: 0px;
  left: 0px;
  
  width: 400px;
  height: 100px;
  
  cursor: pointer;
  
  background-image:url("/public/images/logo_full.png");
  background-repeat: no-repeat;
  background-position: 10px 10px;
  
  
}

#header #masthead
{
  position: absolute;
  top: 10px;
  right: 20px;
  
  text-align: right;
  
  color: #fff;
  font: Helvetica, sans-serif;
  text-shadow: 0 0 5px #000;
  
  font-style: italic;
}

#copyright
{
  position: fixed;
  z-index: 2000;
  
  bottom: 4px;
  right: 4px;
  
  color: #fff;
  text-shadow: 0px 0px 6px #000;
  
  font-family: Helvetica, sans-serif;
  font-size: 10px;
  text-align: right;
  
  width: 400px;
  opacity: 0.4;
}


/* ------------------------------------- */
/*           Centering Trick             */
/* ------------------------------------- */
.container-center
{
  overflow: hidden;
  //overflow-x: hidden;
}
.outer-center
{
  float: right;
  right: 50%;
  position: relative;
}
.inner-center
{
  float: right;
  right: -50%;
  position: relative;
}
.clear
{
  clear: both;
}

#menu-container
{
  position: relative;
  
  width: 400px;
  margin: 74px auto 0px auto;
  
  height: 22px;
  padding-top: 4px;
  padding-bottom: 2px;
  vertical-align: bottom;
}

#menu
{
  font-family: "Lucida Sans Unicode", sans-serif;
  font-size: 18px;
  font-weight: 500;
  
  color: #fff;
  
  text-shadow: 0 0 4px #000;
}

#menu span
{
  vertical-align: bottom;
  cursor: pointer;
  padding: 0px 4px 0px 4px;
  margin: 4px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

#menu span:hover
{
  color: #fff;
  text-shadow: 0px 0px 6px #999;
  background: rgba(33, 65, 119, .8);
  border: 1px solid rgba(0, 0, 0, .6);
  border-bottom: none;
  margin: 3px 3px 3px 3px;
}


/* Feed Formatting */

div.feedEntry
{
  margin-bottom: 10px;
  
  background: rgba(128, 128, 128, 0.6);
  box-shadow: 0px 0px 15px #222 inset;
  
  text-shadow: 0 0 5px #000;
  
  border-radius: 15px;
  padding: 8px;
}

div.feedEntry img.image
{
  display: block;
  margin: 8px;
  padding: 0px;
  width: 48px;
}
div.feedEntry div.textBlock
{
  display: block;
  margin: 0px;
  padding: 8px;
  width: 640px;
}


div.feedEntry a,
div.feedEntry a:hover,
div.feedEntry a:link,
div.feedEntry a:active,
div.feedEntry a:visited
{
  text-decoration: underline;
  color: #fff;
}

div.feedEntry div.subject a,
div.feedEntry div.subject a:link,
div.feedEntry div.subject a:active,
div.feedEntry div.subject a:visited
{
  text-decoration: none;
  color: #fff;
}

div.feedEntry div.subject a:hover
{
  text-decoration: underline;
}

div.feedEntry div.subject
{
  font-family: DroidSansRegular, Helvetica, Arial, sans-serif, 'ÉqÉâÉMÉmäpÉS Pro W6', 'Hiragino Kaku Gothic Pro', ÉÅÉCÉäÉI, Meiryo, Osaka, 'ÇlÇr ÇoÉSÉVÉbÉN', sans-serif;
  font-size: 16px;
  margin-left: -4px;
  margin-top: -4px;
  margin-bottom: 4px;
}
div.feedEntry div.date
{
  font-family: "Georgia", sans-serif;
  font-size: 10px;
  margin-top: -4px;
  margin-bottom: 4px;
}

div.feedEntry div.content
{
  padding: 0px 4px;
  font-family: "Verdana", sans-serif;
  font-size: 12px;
}

/* ================================================
            Status Panel Management
================================================ */
#statusPanel
{
  position: fixed;
  z-index: 1100;

  top: -50px;
  left: 50%;
  margin: 14px auto 0px auto;
  margin-left: -152px;
  
  border: 2px solid black;
  border-radius: 8px;
  
  background: rgba(120, 120, 150, .6);
  
  color: #fff;
  
  font-family: Helvetica, sans-serif;
  font-size: 16px;
  font-style: italic;
  
  text-align: center;
  vertical-align: middle;
  
  min-height: 20px;
  width: 300px;
  
  padding: 3px 10px;
  
  box-shadow: 0 0 10px rgba(0,0,0,0.6) inset;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.6), 1px -1px 0px rgba(0, 0, 0, 0.6), -1px 1px 0px rgba(0, 0, 0, 0.6), -1px -1px 0px rgba(0, 0, 0, 0.6);
}

/* ================================================
                PostButton
================================================ */
#postButton
{
  position: absolute;
  z-index: 1010;
  top: 170px;
  left: -20px;
  
  min-width: 120px;
  min-height: 20px;
  
  padding: 2px 34px 2px 14px;
  
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  
  
  /*border: 2px solid black;
  border-right: none;*/
  
  color: #fff;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
  /*text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.6), 1px -1px 0px rgba(0, 0, 0, 0.6), -1px 1px 0px rgba(0, 0, 0, 0.6), -1px -1px 0px rgba(0, 0, 0, 0.6);*/
  
  text-align: left;
  
  font-family: "Helvetica", sans-serif;
  font-style: italic;
  
  
  box-shadow: 0px 0px 15px #222 inset;
  
  
  cursor: pointer;
  
  overflow: hidden;
  
  border: 1px solid #000;
  
  white-space:nowrap;
}


/* ================================================
            Common field formatting.
================================================ */
div.header 
{
  font-family: Helvetica, sans-serif;
  font-size: 18px;
  
  letter-spacing: 2px;
  
  font-style: italic;
  
  text-shadow: 0px 0px 5px #000;
  padding-left: 10px;
  border-bottom: 1px solid #fff;
  
  margin-bottom: 6px;
}


p
{
  margin-top: 12px;
  margin-bottom: 16px;
  font-family: Verdana, sans-serif;
  font-size: 12px;
  
  text-shadow: 0px 0px 5px #000;
  
  word-wrap: break-word;
  
  line-height: 18px;
}

span.subsection
{
  font-family: Helvetica, sans-serif;
  font-size: 10px;
  margin-top: 3px;
  
  letter-spacing: 1px;
  
  font-style: italic;
  
  text-shadow: 0px 0px 5px #000;
  float: left;
}

span.subsection.top
{
  margin-top: 9px;
}

p.subsection
{
  padding-left: 60px;
  padding-right: 60px;
}

input[type="text"]
{
  border : 2px inset #eee;
  padding: 1px;
  margin: 2px;
}

input[type="text"].error
{
  color : #FF0000;
  border : 1px solid #000;
  padding: 2px;
  box-shadow : 0px 0px 5px #EE1111 inset;
}

/* ===========================================
      Should be moved to common CSS file.
   =========================================== */

input.inactive
{
  color: #ccc;
}

.button
{
  font-family: Helvetica, sans-serif;
  font-size: 14px;
  line-height: 14px;
  text-align: center;
  vertical-align: middle;
  
  display: inline-block;
  
  min-width: 40px;
  padding: 4px 8px;
  
  border-radius: 8px;
  
  text-shadow: 0 0 6px #000;
  
  background: rgba(50,50,50, 0.6);
  box-shadow: 0 0 10px rgba(200,200,200,0.6) inset;
  
  cursor: pointer;
}

/* Quick hack-fix for visual, to make it so buttons don't seem to 'select all' on the text on double-click */
.button::selection,
.button span::selection
{
  background: rgba(0,0,0,0);
  color: #fff;
}

.button:hover
{
  background: rgba(100,100,100,0.6);
  box-shadow: 0 0 10px rgba(255,255,255,0.6) inset;
}

.button:active
{
  background: rgba(50,50,50,0.6);
  box-shadow: 0 0 10px rgba(225,225,225,0.6) inset;
}

.button.disabled
{
  background: #rgba(225,225,225, 1.0);
  box-shadow: 0 0 10px rgba(175,175,175, 1.0) inset;
}