#page-frame .avatar,
#page-frame .avatarGloss
{
  display: block;
  position: absolute;
  
  top: 10px;
  left: 12px;
  
  border-radius: 6px;
}

#page-frame .username
{
  font-size: 20px;
  
  letter-spacing: 2px;
  
  font-style: italic;
  
  text-shadow: 0px 0px 5px #000;
  padding-left: 30px;
}

#page-frame table.profileTable
{
  width: 100%;
  margin-bottom: 14px;
  border-bottom: 1px solid #fff;
}

#page-frame form
{
  margin: 0px 16px;
}

#page-frame #logoutButton,
#page-frame #saveButton
{
  float: right;
}
#page-frame #saveButton
{
  margin-top: -2px;
}

#page-frame .sectionHeader
{
  font-size: 16px;
  
  letter-spacing: 2px;
  
  font-style: italic;
  
  text-shadow: 0px 0px 5px #000;
  
  border-bottom: 1px solid #fff;
  
  margin: 4px 12px 8px 12px;
  padding: 0px 8px;
  
}

#page-frame .dropdown-toggle
{
  width : 30%;
}

#page-frame .input-group-addon .status
{
  min-width: 30px;
  color: #000;
  
  text-shadow: 0 0 3px #555;
}
#page-frame .input-group-addon .status.glyphicon-ok
{
  color: #0d0;
}
#page-frame .input-group-addon .status.glyphicon-retweet
{
  color: #dd0;
}
#page-frame .input-group-addon .status.glyphicon-remove
{
  color: #d00;
}