#profile
{
  font-family: Helvetica, sans-serif;
}

#profile .avatar,
#profile .avatarGloss
{
  display: block;
  position: absolute;
  
  top: 8px;
  left: 22px;
  
  border-radius: 6px;
}

#profile .username
{
  font-size: 20px;
  
  letter-spacing: 2px;
  
  font-style: italic;
  
  text-shadow: 0px 0px 5px #000;
  padding-left: 30px;
}

#profile table.profileTable
{
  width: 800px;
}

#profile form
{
  margin: 0px 16px;
}

#profile input[type="text"]
{
  display: block;
}

#profile #logoutButton,
#profile #saveButton
{
  float: right;
}
#profile #saveButton
{
  margin-top: -2px;
}

#profile .sprawl
{
  border-top: 1px solid #fff;
  margin-top: 2px;
  padding-top: 12px; 
}

#profile .sprawl .sectionHeader
{
  font-size: 16px;
  
  letter-spacing: 2px;
  
  font-style: italic;
  
  text-shadow: 0px 0px 5px #000;
  
  border-bottom: 1px solid #fff;
  
  margin: 4px 12px 8px 12px;
  padding: 0px 8px;
}

#profile .sprawl input
{
  
}