<div class="content-block container">
<div class="header">About Aethyrnet</div>

<div class="row">
  <div class="col-1 subheader">General</div>
  <div class="col-11">
    <p class="subsection">&nbsp;&nbsp;&nbsp;&nbsp;Aethyrnet is a Final Fantasy XIV: A Realm Reborn Linkshell/Free Company on the Leviathan server.  
    Our aim is to be laid back and have a good time while learning the ropes of FFXIV:ARR, eventually tackling harder content in a 'off the cuff' fashion.
    Maturity is preferred, particularly those who can handle the occasional off-color joke or being teased.</p>
  </div>
</div>

<div class="row">
  <div class="col-1 subheader">LS</div>
  <div class="col-11">
    <p class="subsection">&nbsp;&nbsp;&nbsp;&nbsp;Linkshell recruitment is currently open to anyone interested.  Contact Lunaretic Silva in game for an invite, 
    or come back after Beta 4 starts and ask for an invite on the Free Company board.  There is a loose 18+ age
    rule for both the LS and FC, but these can be waived if you are mature despite age.</p>
  </div>
</div>

<div class="row">
  <div class="col-1 subheader">FC</div>
  <div class="col-11">
    <p class="subsection">&nbsp;&nbsp;&nbsp;&nbsp;Free Company recruitment is largely open to anyone as well, though we are slighly more stringent with regards
    to maturity.  Joining the FC gains you the various benefits of the FC House, and increased permissions on the
    boards/etc.  As well as first access to any events we may happen to be doing over LS members or the public.</p>
  </div>
</div>

<div class="row">
  <div class="col-1 subheader">Other</div>
  <div class="col-11">
    <p class="subsection">&nbsp;&nbsp;&nbsp;&nbsp;Out of game communication is <em>not</em> required for particpation in either the LS or the FC.  While we do offer a Teamspeak server for 
    public use by any of our members, many of our members prefer to use Skype, Steam, or other methods to communicate outside of the game, or avoid such entirely.  We also have a
    public Free Company board on the lodestone for more long-standing communcation, as well as some communication functionality on this website.</p>
  </div>
</div>

<p>- Lunaretic Silva</p>
</dliv>