<div class="content-block container">
<div class="header">About Aethyrnet</div>

<div class="row">
  <div class="col-md-1 subheader">General</div>
  <div class="col-md-11">
    <p class="subsection">&nbsp;&nbsp;&nbsp;&nbsp;Aethyrnet is a Final Fantasy XIV: A Realm Reborn Free Company on the Leviathan server.
    Our aim is to help people clear through various pieces of End-Game content while maintaining a good attitude and a high skill level.</p>
  </div>
</div>

<div class="row">
  <div class="col-md-1 subheader">FC</div>
  <div class="col-md-11">
    <p class="subsection">&nbsp;&nbsp;&nbsp;&nbsp;Free Company recruitment is largely open to level 50 players with experience at least through Turn 5 of the original Binding Coil of Bahamut.  We also make exceptions for adding casual players when they are friends of pre-existing FC members.  Static/Raid participation is explicitly based upon performance, attendance, and attitude, and up the discretion of the individual raid leaders.</p>
  </div>
</div>

<div class="row">
  <div class="col-md-1 subheader">Other</div>
  <div class="col-md-11">
    <p class="subsection">&nbsp;&nbsp;&nbsp;&nbsp;Out of game communication is <em>not</em> required for basic particpation in either the FC, however, it <em>is</em> 
    required for harder content.  While we do offer a Teamspeak server for 
    public use by any of our members, many of our members prefer to use Skype, Steam, or other methods to communicate outside of the game, as their individual preferences dictate.</p>
  </div>
</div>

<p>- Lunaretic Silva</p>
</div>