<div class="content-block container">
<div class="header">About Aethyrnet</div>

<div class="row">
  <div class="col-md-1 subheader">General</div>
  <div class="col-md-11">
    <p class="subsection">&nbsp;&nbsp;&nbsp;&nbsp;Aethyrnet is a Final Fantasy XIV: A Realm Reborn Linkshell/Free Company on the Leviathan server.  
    Our aim is to help people clear through various content while maintining a good attitude and skill level.</p>
  </div>
</div>

<div class="row">
  <div class="col-md-1 subheader">LS</div>
  <div class="col-md-11">
    <p class="subsection">&nbsp;&nbsp;&nbsp;&nbsp;Linkshell recruitment is currently open to any level 40+, and is mostly used as an LFG chat for various content.
    Contact Lunaretic Silva in game for an invite. 
    There are some loose maturity restrictions, and rampant whining or complainig will likely result in you being removed from the LS.</p>
  </div>
</div>

<div class="row">
  <div class="col-md-1 subheader">FC</div>
  <div class="col-md-11">
    <p class="subsection">&nbsp;&nbsp;&nbsp;&nbsp;Free Company recruitment is largely open to any level 40+ players, though we are slighly more stringent with regards
    to maturity.  When tackling events/in-game content, FC members are peferred over LS members/others, however, we regularly fill out ranks in events with members
    drawn from LS or other means when lacking appropriate numbers.</p>
  </div>
</div>

<div class="row">
  <div class="col-md-1 subheader">Other</div>
  <div class="col-md-11">
    <p class="subsection">&nbsp;&nbsp;&nbsp;&nbsp;Out of game communication is <em>not</em> required for basic particpation in either the LS or the FC, however, it <em>is</em> 
    required for harder events/content in game (currently only The Binding Coil of Bahamut).  While we do offer a Teamspeak server for 
    public use by any of our members, many of our members prefer to use Skype, Steam, or other methods to communicate outside of the game, or avoid such entirely.  We also have a
    public Free Company board on the lodestone for more long-standing communcation, as well as some communication functionality on this website.</p>
  </div>
</div>

<p>- Lunaretic Silva</p>
</dliv>