<% if(view == "DashboardView") { %>

<div id="admin-body" class="container panel panel-default">
  <div class="panel-heading">Admin Dashboard</div>
  <ul class="nav nav-pills" style="margin-bottom: 6px; margin-left: 2px;">
    <li data-view="dashboard/userlist.UserlistPanel"><a>Users</a></li>
    <li data-view="dashboard/posts.PostAdminPanel"><a>Posts</a></li>
  </ul>
</div>
<% } else if(view == "UserlistPanel") { %>
  <% if(mode == "full") { %>
  
    <div class="panel-heading">User Administration</div>
  
    <div class="input-group">
      <span class="input-group-addon">Username</span>
      <input id="username-search" type="text" class="form-control" placeholder="Search by Username">
    </div>

  
    <div class="list-group container">
    <% users.each(function(user){ %>
      <a class="list-group-item" data-id="<%= user.id %>"><%= aethyrnet.util.prettyName(user.get("username")) %></a>
    <% }); %>
    </div>
  
  <% } else if(mode == "list") { %>
  
    <% users.each(function(user){ %>
        <a class="list-group-item" data-id="<%= user.id %>"><%= aethyrnet.util.prettyName(user.get("username")) %></a>
    <% }); %>

  <% } %>
<% } %>