<div class="zone-block">
    <div class="subheader">
      <span><%= zone.name %></span>
      
      <span class="telepoint-text">Telepoint: <%= zone.telepoint %></span>
    </div>
    <div class="row hunt-b">
      <div class="col-xs-1"><button class="update btn btn-xs btn-default">update</button></div>
      <div class="col-xs-1 tableheader">B</div>
      <div class="col-xs-3 name"><%= zone.B.name %></div>
      <div class="col-xs-3 tableheader tod">ToD: <%= (zone.B.tod ? new Date(zone.B.tod).toLocaleTimeString() : "Unknown")  %></div>
      <div class="col-xs-4 tableheader respawn">
			<% if(zone.B.active == 2) { %>
				<span class="active">Window closes in <%= zone.B.estimated %> Minutes</span>
			<% } else if(zone.B.active == 1) { %>
				<span class="tracking">Window opens in <%= zone.B.estimated %> Minutes
			<% } %>
			</div>
    </div>
    <div class="row hunt-a">
      <div class="col-xs-1"><button class="update btn btn-xs btn-default">update</button></div>
      <div class="col-xs-1 tableheader">A</div>
      <div class="col-xs-3 name"><%= zone.A.name %></div>
      <div class="col-xs-3 tableheader tod">ToD: <%= (zone.A.tod ? new Date(zone.A.tod).toLocaleTimeString() : "Unknown")  %></div>
      <div class="col-xs-4 tableheader respawn">
			<% if(zone.A.active == 2) { %>
				<span class="active">Window closes in <%= zone.A.estimated %> Minutes</span>
			<% } else if (zone.A.active == 1) { %>
				<span class="<%= zone.A.estimated < 30 ? "tracking" : "" %>">Window opens in <%= zone.A.estimated %> Minutes
			<% } %>
			</div>
    </div>
    <div class="row hunt-s">
      <div class="col-xs-1"><button class="update btn btn-xs btn-default">update</button></div>
      <div class="col-xs-1 tableheader">S</div>
      <div class="col-xs-3 name"><%= zone.S.name  %></div>
      <div class="col-xs-3 tableheader tod">ToD: <%= (zone.S.tod ? new Date(zone.S.tod).toLocaleTimeString() : "Unknown")  %></div>
      <div class="col-xs-4 tableheader respawn">
			<% if(zone.S.active == 2) { %>
				<span class="active">Window closes in <%= zone.S.estimated %> Minutes</span>
			<% } else if(zone.S.active == 1) { %>
				<span class="<%= zone.S.estimated < 60 ? "tracking" : "" %>">Window opens in <%= zone.S.estimated %> Minutes
			<% } %>
			</div>
    </div>
</div>