<% if(mode == "modal") { %>
<div class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Update Elite Mark Death Time.</h4>
      </div>
      <div class="modal-body">
      
      <div class="input-group" style="margin-bottom: 8px; width: 100%">
        <span class="input-group-addon" style="width: 30%">Zone</span>
        <input id="update-zone" type="text" class="disabled form-control" disabled="disabled" placeholder="Zone" value="<%= zone %>">
      </div>
      
      <div class="input-group" style="margin-bottom: 8px; width: 100%">
        <span class="input-group-addon" style="width: 30%">Mark</span>
        <input id="update-name" type="text" class="disabled form-control" disabled="disabled" placeholder="Monster" value="<%= name %>">
      </div>
			
      <div class="input-group" style="margin-bottom: 8px; width: 100%">
        <span class="input-group-addon" style="width: 30%">Time of Death</span>
        <input id="update-tod" type="text" class="form-control" placeholder="12:00 PM" value="<%= aethyrnet.util.pad(tod.getHours(), 2) + ":" + aethyrnet.util.pad(tod.getMinutes(), 2) %>">
      </div>
        
        
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Cancel</button>
        <button type="button" class="submit-btn btn btn-primary">Update ToD</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div>
<% } %>