<div class="zone-block">
    <div class="subheader">
      <span><%= zone.name %></span>
      
      <span class="telepoint-text">Telepoint: <%= zone.telepoint %></span>
    </div>
		
		<%
			var types = ["B","A","S"]; 
			var colortime = {
				B : 15,
				A : 60,
				S : 120,
			}
			for(var idx in types)
			{
				var target = zone[types[idx]];
		%>
    <div class="row hunt-<%= target.type %>">
      <div class="col-xs-1"><button class="update btn btn-xs btn-default">update</button></div>
      <div class="col-xs-1 tableheader"><%= target.type %></div>
      <div class="col-xs-3 name"><%= target.name %></div>
      <div class="col-xs-3 tableheader tod">ToD: <%= (target.tod ? new Date(target.tod).toLocaleTimeString() : "Unknown")  %></div>
      <div class="col-xs-4 tableheader respawn">
			<% if(target.active == 2) { %>
				<span class="active">Window closes in <%= target.estimated %> Minutes</span>
			<% } else if(target.active == 1) { %>
				<span class="<%=  (target.estimated <= colortime[target.type] ? "tracking" : "") %>">Window opens in <%= target.estimated %> Minutes
			<% } %>
			</div>
    </div>
		<% } %>
</div>