<div class="content-block">
<table cellspacing="0" cellpadding="0" class="profileTable">
  <tr>
    <td>
      <% if(avatar) { %>
        <img class="avatar" width="24" height="24" src="/public/images/avatars/<%= avatar %>" />
        <img class="avatarGloss" width="24" height="24" src="/public/images/iconFrame.png"/>
      <% } %>
      <span class="username">Profile &amp; Settings - <%= username %></span>
    </td>
    <td><a id="logoutButton">Log Out</a></td>
  </tr>
</table>

<% for(var sectionIdx in sections) { %>
  <div class="sectionHeader"><%= sectionIdx %></div>
  <form>
  
  <% for(var fieldIdx in sections[sectionIdx]) { %>
    <% var field = sections[sectionIdx][fieldIdx]; %>
    <% if(field.type == "text") { %>
    
      <!-- Text Input -->
      <div class="input-group" style="margin-bottom: 8px; width: 100%">
        <span class="input-group-addon"><span class="status glyphicon glyphicon-ok"></span></span>
        <span class="input-group-addon" style="width: 20%; color: #000;"><%= field.text %></span>
        <input id="<%= fieldIdx %>-input" type="text" class="form-control" placeholder="<%= field.default %>" value="<%= field.value %>">
      </div>
    <% } else if(field.type == "dropdown") { %>
    
      <!-- Dropdown Input -->
      <div><div id="<%= fieldIdx %>-input" class="input-group" style="margin-bottom: 8px; width: 100%">
        <span class="input-group-addon"><span class="status glyphicon glyphicon-ok"></span></span>
        <span class="input-group-addon" style="width: 20%; color: #000;"><%= field.text %></span>
        <div class="input-group-btn" style="width: 100%">
        
          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
            <span class="value"><%= ( field.value ? field.value : field.default )%></span> <span class="caret"></span>
          </button>
          
          <ul class="dropdown-menu dropdown-toggle">
            <% for(var optionsIdx in field.options) { %>
              <li class="dropdown-header"><%= optionsIdx %></li>
                <% for(var dropdownItemIdx in field.options[optionsIdx]) { %>
                  <li <%= $.isNumeric(dropdownItemIdx) ? "" : "data-value=\"" + dropdownItemIdx + "\"" %>><a><%= field.options[optionsIdx][dropdownItemIdx] %></a></li>
                <% } %>
            <% } %>
            <% if(field.default) { %>
              <li class="dropdown-header">Other</li>
              <li><a><%= field.default %></a></li>
            <% } %>
            
          </ul>
        </div>
      </div></div>
    
    <% } %>
  <% } %>
  </form>
  <br/>
<% } %>

</div>