<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">
  
  
  <title>Aethyrnet - A Leviathan Server LS/FC</title>
 
  <link rel="shortcut icon" href="/public/favicon.ico" type="image/x-icon">
  <link rel="icon" href="/public/favicon.ico" type="image/x-icon">
  
  <link rel="stylesheet" href="/public/js/lib/bootstrap/css/bootstrap.min.css"></link>
  <link rel="stylesheet" href="/public/css/base.css"></link>
  
  <!-- Bootstrap & Assistant Libraries -->
  <script type="text/javascript" src="/public/js/lib/jquery.js"></script>
  <script type="text/javascript" src="/public/js/lib/bootstrap/js/bootstrap.min.js"></script>
  
  <script type="text/javascript" src="/public/js/lib/jquery.easing.1.3.min.js"></script>
  
  
  
  <!-- Backbone and JS-Heavy Dependencies -->
  <script type="text/javascript" src="/public/js/lib/underscore-min.js"></script>
  <script type="text/javascript" src="/public/js/lib/backbone-min.js"></script>
  <script type="text/javascript" src="/public/js/lib/async.js"></script>
  
  <script id="startupScript" type="text/javascript">
    //Basic Aethyrnet Setup.
    var aethyrnet = new (function Aethyrnet(){
      this.backbone = {};
      this.template = {};
      this.css = {};
      this.user = {};
      this.util = {};
      this.viewMap = {};
      this.router = false;
      this.viewport = false;
      this.pageQueue = false;
    })();
    
    //User Data integration.
    aethyrnet.userData = <%= JSON.stringify(userData) %>;
    /*
    $().ready(function()
    {
      //Setup user
      aethyrnet.util.setupUser(aethyrnet.userData);
    
      //Render the main veiwport
      aethyrnet.viewport = new aethyrnet.backbone['viewport'].ViewportView({
        el : document.body,
      });
      
      //Wipe out the startup script
      $('#startupScript').remove();
    });*/
  </script>
  
  <!-- Aethyrnet Scripts -->
  <% if (environment != "production") { %><script type="text/javascript" src="/public/js/debugMode.js"></script><% } %>
  <script type="text/javascript" src="/public/js/viewport.js"></script>
  <script type="text/javascript" src="/public/js/user.js"></script>
</head>
<body>
  
  <!-- Bootstrap navbar -->
  <div id="header" class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <a class="navbar-brand" href="#">Aethyrnet</a>
      
      <div class="nav-collapse collapse">
        <ul class="nav navbar-nav">
          <li class="active"><a href="#">News</a></li>
          <li><a href="#profile">Profile</a></li>
          <li><a href="#about">About</a></li>
          <li><a href="#contact">Free Company Board</a></li>
        </ul>
      </div>
      
      <p class="navbar-text pull-right">
        <% if(userData.username != "anonymous") { %>
          Welcome back, <a href="#profile" class="navbar-link"><% print(userData.username) %></a>
        <% } else { %>
          <a href="#login" class="navbar-link">Log In / Register</a>
        <% } %>
      </p>  
      
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      
    </div>
  </div>
  
  
  <!-- Main page frame -->
  <div id="main" class="container">
  </div>
  
  <div id="background" style="background-image: url('/public/images/<%= ( bgImage ? bgImage : "coerthas" ) %>.jpg')"></div>
  <div id="copyright"><%= (environment != "production" ? "Environment: " + environment + "<br/>" : "") %>Aethyrnet Logo &copy; 50DKP, LLC.<br/>Background Images &amp; Meteor Logo &copy; SQUARE-ENIX CO. LTD.</div>
</body>
